@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  position: fixed;
  width:100%;
  top: 0;
  right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 52);
  color: aquamarine;
  padding: 0.5% 0.5%;
  font-size: 1em;
  line-height: 1.0;
  box-shadow: 0px 1px 2px rgba(15, 255, 239, 0.5), 
  0px 2px 4px rgba(0, 255, 234, 0.5), 
  0px 4px 8px rgba(0, 180, 153, 0.5), 
  0px 8px 16px rgba(0, 255, 247, 0.884);
}

body {
  margin: 0;
  overflow-x: hidden;
  background-image: url(Images/srLand-bg.jpg);
  background-size:cover;
}

#logoContainer {
  display: flex;
  align-items: center;
}

#animatedLogo {
  width: 250px;
  margin-right: 5px;
}

#staticLogo {
  width: 50px;
  margin-right: 5px;
  display: none;
}

#opslogo2 {
  max-width: 3%;
  margin-left: 58%;
  margin-top: -4%;
}

.navBar {
  display: flex;

}

.navBar a{
  color: aquamarine;
  font-size: 18px;
  padding: 10px 0;
  margin: 0px 50px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  transition: all .50s ease;
}

.navBar a:hover{
  color: #ecb7ff;
}

.main{
  display: flex;
  align-items: center;
}


#menu-icon{
  font-size: 25px;
  color:aquamarine;
  display:none;
  cursor:pointer;
}

@media(max-width: 1280px){
  header{
    padding: 14px 2%;
    transition: .2s;
  }
  .navbar a{
    padding: 5px 0;
    margin: 0px 20px;
  }

}

@media(max-width: 1090px){
  #menu-icon {
    display: block;
  }

  #menu-icon:hover{
    color:#ecb7ff;
  }

  .navBar {
    background-color: navy;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
  }
  .navBar a {
    display: block;
    margin: 5px 0 5px 0;
    font-size: 15px;
    padding: 10px; 
  }
  .navBar a:hover {
    background-color: #3806ad;
    color: white;
  }
  .navBar.open {
    right:0;
  }
}


/*User Profile Dropdown*/

.user-main{
  display: flex;
  align-items: center;
  position: relative;
}

.profile-button{
  position:absolute;
  top:100%;
  right: 10%;
  width: 300px;
  display: none;
  
}

.sub-profile{
  background-color: white;
  padding: 20px;
  margin: 10px;
  box-shadow:0 3px 15px rgba(17, 0, 29, 0.5);
}

#userMenu{
  border-radius: 50%;
  width:40px;
  margin-right: 20px;
  cursor:pointer;
}

#userMenu:hover{
    box-shadow: 0 3px 15px rgb(215, 160, 255);
    transform: scale(1.2);
}

.user-info{
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}

.user-info h3{
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: bold;
  padding: 10px;
  color: navy;
}

.user-info img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.sub-profile ul{
  list-style: none;
  padding: 1;
  margin: 10;
}

.sub-profile li a {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 700;
  display: block;
  padding: 5px 10px;
  color: navy;
  text-decoration: none;
  font-size: 1em;
}

.sub-profile li a:hover {
  background-color: #f8c2ff;
  color: navy;
}

.profile-button.open {
  display: block;
}

/*--------------CREATE ROOM---------------*/

.crPage{
    margin-top: 100px;
}

.createBx{
    max-width: 500px;
    margin: 5% auto;
    background-image: linear-gradient(rgb(49, 1, 73),rgb(110, 0, 206));
    padding: 20px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
}
  
  #cr-close-btn {
    float: right;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color:white;
  }

  #cr-close-btn:hover {
    color: #ecb7ff;
  }
  
  .create-room-form {
    margin-top: 15px;
  }
  
  #crlabel {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
  }
  
  .crform-container {
    margin: 2% auto 5% auto;
    
  }
  
  #rn, #np, #rd {
    display: block;
    font-weight: bold;
    color: white;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 15px;
    padding: 2px;
    letter-spacing: 1px;
  }
  
  #room-name,
  textarea {
    color: white;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    background:transparent;
    border-radius: 50px;
    margin-top: 5px;
  }

input,textarea{
    transition: box-shadow 0.5s ease;
}

input:focus, textarea:focus{
    box-shadow: 0 0 5px aquamarine;
    animation: glowing-border 2s ease-in-out infinite;
  }
  
  @keyframes glowing-border {
    0% {
      box-shadow: 0 0 5px aquamarine;
    }
    50% {
      box-shadow: 0 0 20px aquamarine;
    }
    100% {
      box-shadow: 0 0 5px aquamarine;
    }
  }
  
  input[type="text"]::placeholder {
    color: rgb(206, 206, 206);
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 500;
  }


  /* Style for the tags container */

  .tag {
    display: inline-block;
    background-color: rgb(0, 0, 52);
    color: white;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 600;
    width: fit-content;
  }
  
  .tag-close {
    margin-left: 4px;
    cursor: pointer;
  }
  
  .tag-close:hover {
    color: aquamarine;
  }
  /* Style for the submit button */
  .cr-submit {
    display: block;
    width: fit-content;
    padding: 10px;
    background-image: linear-gradient(to right,aquamarine, #00bfaf);
    color: navy;
    font-size: 15px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 5% auto 5% auto;
  }

 .cr-submit:hover {
    box-shadow: 0 3px 15px rgb(32, 255, 222);
    transform: scale(1.2);
  }
  

  @media (max-width: 700 ) {
    .crPage {
      margin: 100% auto 0 auto;
      max-width: 100%;
    }
  }
  
  
  
  
  
  
  
