@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Wix+Madefor+Display:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  position: fixed;
  width:100%;
  top: 0;
  right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 52);
  box-shadow: 0px 1px 2px rgba(234, 126, 255, 0.5), 
  0px 2px 4px rgba(234, 126, 255, 0.5), 
  0px 4px 8px rgba(234, 126, 255, 0.5), 
  0px 8px 16px rgba(234, 126, 255, 0.5);
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(0, 0, 52);
  background-image: url(Images/bg.jpg);
}

#logoContainer {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;

}

#animatedLogo {
  width: 250px;
  margin-right: 5px;
}

#staticLogo {
  width: 50px;
  margin-right: 5px;
  display: none;
}

/*--------------VERTICAL NAVBAR-----------------*/
.verticalNavBar {
    background-color: rgb(0, 0, 52);
    position: fixed;
    width: 5%;
    top: 0;
    left: 0;
    height: 100%; 
    z-index: 999;
  }
  
  #navList {
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
  }
  
  #navList li {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
  }
  
  #navList li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  #navList li a:hover {
    background-color: rgb(1, 1, 101);
  }
  
  #navList li a img {
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 5px;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .verticalNavBar {
      width: 70px;
    }
    
    #navList li a {
      padding: 8px;
    }
    
    #navList li a img {
      max-width: 30px;
      max-height: 30px;
    }
  }
  
  #up:hover, #verSFlanding:hover, #verSRlanding:hover,
  #logout:hover{
    color:aquamarine;
  }
  
  /*Profile Button*/
  .user-main{
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .profile-button{
    position:absolute;
    top:100%;
    right: 10%;
    width: 320px;
    display: none;
  }
  
  .sub-profile{
    background-color: white;
    padding: 20px;
    margin: 10px;
  }
  
  #userMenu{
    border-radius: 50%;
    width:40px;
    margin-right: 20px;
  }
  
  .user-info{
    display: flex;
    align-items: center;
  }
  
  .user-info h3{
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: bold;
    padding: 10px;
    color: navy;
  }
  
  .user-info img{
    border-radius: 50%;
  }
  
  .sub-profile ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sub-profile li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    padding: 5px 10px;
    color: #181818;
    text-decoration: none;
    font-size: 0.8em;
  }
  
  .sub-profile li a:hover {
    background-color: #ffffff;
    color: navy;
  }
  
  .profile-button.open {
    display: block;
  }
  
  /*--------------STUDY FORUM LANDING-----------------*/

  body{
    background-image: url(Images/forum-bg.png);
    background-size: cover;
}

.forumLanding {
    margin: 0 auto 0 5%;
}

.forumLanding .forumIntro{
    background-image: url(Images/forum-header.jpg);
    background-size: cover;
    margin:0;
    height: auto
}

.frm-intro{
    margin: 0;
}

.frm-intro h2{
    color: white;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
}

.frm-intro p{
    color: white;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px 30px;
    width: 50%;
    margin: 0 auto 0 auto;
}
  
.frmBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
  }

  .forum-searchbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .forum-searchbar label {
    margin-right: 10px;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    display: none;
    width: 200px;
  }
  
  .forum-searchbar input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    height: 30px;
  }
  
  #addforum-button {
    margin: -10px 10px 10px 10px;
  }
  
  #add-forum-btn,
  #search-forum-btn {
    display: block;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Space Grotesk', sans-serif;
    background-color: aquamarine;
    text-decoration: none;
    font-weight: bold;

  }
  #add-forum-btn:hover,
  #search-forum-btn:hover {
    background-color: #e3a8ff;
    color:navy;
  }
  /*----Forum Container -----*/

  .random-forums {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px;
    margin-left: 50px;
  }
  
  .forum-box {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .forum-box img {
    width: 100%;
    height: 150;
    border-radius: 5px;
    background-color: #565656;
    margin-bottom: 10px;
  }
  
  .forum-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    font-family: 'Rubik', sans-serif;
    color:black;
    text-decoration: none;
    margin-top: 5px;
  }
  
  .forum-description {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
  }
  
  .forum-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .author-info {
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color:navy;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
  }
  
  .author-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-name {
    font-weight: bold;
    margin-right: 5px;
    text-decoration: none;
  }
  
  .forum-date {
    color: #777;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    text-decoration: none;
  }
  
  .reply-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    background-color: aquamarine;
    color: navy;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .reply-button:hover {
    background-color: #e9b5ff;
    color: navy;

  }

  /*------------ Gen User Profile-------------*/

.general-user {
  padding: 20px;
  display: flex;
}

.profile-section{
  margin: 0 100px 0 100px;
  width: 60%;
}
#prof-header {
  margin: 0;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30px;
}

.profile-container {
  background-image: linear-gradient(rgb(52, 255, 187),rgb(218, 161, 255));
  width: 100%;
  border-radius: 15px;
  margin-top: 5px;
}

.profile-header{
  margin-bottom:20px;
  padding-bottom:20px;
}
.profile-info{
  margin-top: -5%;
  display: flex;
  margin-left: 50px;

}

.cover-photo {
  height: 100px; 
  background-color: #565656;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/* Profile picture */
.profile-picture img {
  width: 150px; 
  height: 150px;
  border-radius: 50%;
}

/* User info */
.profile-details {
  margin: 50px 20px 0 20px;
}

#user_profile_name{
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
}

#userBio{
  background-color: white;
  width: auto;
  padding: 5px;
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  
}

/* General user tags */
.genuser-tags {
  margin-top: 10px;
}

.genuser-tags button {
  margin-right: 5px;
  background-color: #00c763;
  color: white;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
}

.section-container {
  width: 100%;
}

#forum-posts{
  display: block;
}

.section-content {
  display: none;
}

.forum-posts-section {
  display: flex;
  margin-bottom: 10px;
}

.section-button {
  padding: 10px 20px;
  background:none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-family: 'Space Grotesk',sans-serif;
  font-weight: bold;

}

.section-button.active {
  background-color: #007d3e;
}

.section-content {
  display: none;
  margin-top: 10px;
}

.section-content.active {
  display: block;
}

/* Forum Posts */
.posts-container {
  margin-top: 10px;
}

.post {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Manrope', sans-serif;
}

.post p {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
}

/* Created Room Cards */
.room {
  margin-bottom: 20px;
}

.room-card {
  max-width: 400px; /* Adjust the maximum width as per your preference */
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.group-cover-photo {
  height: 100px; 
  background-color: #565656;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

#room-cover-photo {
  width: 100%;
  height: auto;
}

.group-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#group-profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Manrope', sans-serif;
}

.go-to-room-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Last visited rooms */
#gu-lvr {
  margin-top: 30px;
  color: white;
  font-size: 18px;
  font-family: 'Space Grotesk',sans-serif;
  font-weight: bold;
  padding: 10px;
  
}

/* Socialize container */
.socialize-container {
  margin-top: 45px;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
}

#gu-add,
#gu-send {
  width: 100%;
  padding: 1vw;
}

#gu-create {
  width: 100%;
  height: 10vh;
  padding: 2%;
}

#gu-add,
#gu-send,
#gu-create {
  display: block;
  margin-bottom: 1vh;
  font-size: 1.5vw;
  color: navy;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding: 1vw;
  background-image: linear-gradient(225deg, rgb(222, 189, 255), rgb(216, 149, 255));
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

#gu-add:hover,
#gu-send:hover,
#gu-create:hover {
  color: white;
  background-image: linear-gradient(225deg, rgb(62, 0, 123), rgb(53, 0, 84));
}

.section-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e5d6c;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-button.active {
  background-color: #1a98c9;
}

#line {
  height: 1px;
  background-color: #ccc;
  border: none;
  margin: 20px 0;
}

.userforum {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.forum-user-picture {
  margin-right: 10px;
  width: 80px;
  height: 80px;
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.forum-user-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 10px;
}

.forum-time {
  font-size: 12px;
  color: #404040;
  margin-left: 100px;
  margin-bottom: 5px;
}

.forum-content {
  flex: 1;
  margin: 10px;
  margin-left: 0;
}

.forum-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.forum-text {
  font-size: 14px;
  color: #333;
}
/* Friends section */
.profile-friends {
  margin-top: 3vh;
  margin-left: -5vw;
  display: flex;
  flex-direction: column;
  border: 2px aquamarine solid;
  border-radius: 5px;
  padding: 1vw;
  width: 20vw;
}

.friends-container {
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}

#friends-title {
  margin-bottom: 1vh;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  /* Section layout */
  .section-container {
    flex-direction: column;
  }

  .forum-posts-section,
  .created-rooms-section {
    flex-basis: 100%;
    margin-top: 20px;
  }

  /* Socialize container */
  .socialize-container {
    flex-direction: row;
    align-items: center;
  }

  #gu-add,
  #gu-send {
    margin-right: 10px;
    margin-bottom: 0;
  }

  /* Adjust font sizes and margins */
  h2,
  h3 {
    font-size: 1.2em;
    line-height: 1.2;
  }

  .user-info {
    margin-top: 10px;
  }

  .genuser-tags {
    margin-top: 5px;
  }

  .genuser-tags button {
    margin-right: 3px;
    font-size: 12px;
  }
}

/* Personal Profile */
.friend-picture {
  margin-right: 10px;
}

.friend-picture img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.friends-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.friend-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.friend-name {
  font-weight: bold;
  margin: 0;
}

.socialize-container a {
  text-decoration: none;
}

/*Personal Profile - Create Rooms Tab*/

.createdRoom-header {
  background: linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%);
  border-radius: 15px;
  height: 30%;
}

.room-header{
  margin-bottom:20px;
  padding-bottom:20px;
}
.room-info{
  margin-top: -5%;
  display: flex;
  margin-left: 50px;

}
.room-picture img {
  width: 150px; 
  height: 150px;
  border-radius: 50%;
}

/* User info */
.room-details {
  margin: 50px 20px 0 30px;
}

.userforum {
  display: flex;
  background: white;
  border-radius: 15px;
  height: 25%;
  border: 5px solid black;
  align-items: center;
}

.forum-user-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 50px;
}

.forum-content {
  margin-left: 30px;
}

.forum-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.forum-text {
  margin: 0;
}

.forum-time{
  margin-left: 110px;
}


/*----Specific Forum Page-----*/

.specificForum{
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
}

.forum-proper {
  margin: 25px;
}

#back-button {
  margin-bottom: 10px;
  background-color: #e9b5ff;
  padding: 5px;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
}

#back-button:hover{
  background-color: aquamarine;
  color: navy;
  cursor: pointer;
}

.forum-details {

  padding: 10px;
  border-radius: 5px;
}

#main-forumtitle {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 157);
  font-family: 'Rubik', sans-serif;
  font-size: 40px;

}

.forum-question {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  font-family: 'Wix Madefor Display', sans-serif;
}

.main-info {
  display: flex;
  align-items: center;
  color: white;
}

#main-profilepicture {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

#main-name {
  font-weight: bold;
  font-size: 20px;
}
.post-date {
  margin-left: 10px; /* Adjust the margin value as per your preference */
}

#main-relativepostdate {
  margin-left: 5%;
}



#main-question {
  margin-top: 10px;
  color:white;
}

.reply-proper {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#user-profilepicture {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

#user-reply {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

#reply-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #e3a8ff;
  color: navy;
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reply-button:hover{
  background-color: aquamarine;
  color: navy;
}

.past-replies {
  margin-top: 50px;
}

#past-replieslabel {
  font-weight: bold;
  color: aquamarine;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 20px;

}

.past-reply {
  margin-top: 10px;
}

.reply-info {
  display: flex;
  align-items: center;
}

#reply-profilepicture {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

#reply-name {
  font-weight: bold;
  color: aquamarine;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 18px;
}

#reply-relativepostdate {
  margin-left: auto;
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 15px;
  color: white
}

#reply-text {
  margin-top: 5px;
  font-family: 'Manrope', sans-serif;
  color:white;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

/* Other forums styles */
.other-forums {
  margin: 30px;
  background-color: aquamarine;
  width: 50%;
  border-radius: 10px;
}

#other-forumslabel {
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  margin: 10px;
  font-size: 25px;
  padding: 10px;
  color: navy;
}

.other-forum {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  font-family: 'Manrope', sans-serif;
  color: navy;
  font-weight: bold;
  margin: 20px;
  border-radius: 5px;
  
}

.other-forum:hover{
  background: none;
  border: 1px solid navy;
  cursor: pointer;
}

#other-profilepicture {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.other-forum-info {
  margin-left: 10px; 
}

#other-question {
  margin-bottom: 5px; 
}

#other-post-info {
  font-size: 12px; 
  color: #888; 
}